.portrait:hover{
  filter: saturate(100%);
  transition: 1s;
}

.portrait{
  border-radius : 7%;
  width : 100px;
  height : auto;
  filter: saturate(15%);
  transition: 1s;
  margin-right: 2em;
}

.title{
  font-family: Westwood-Studio, serif;
  color: #313d45;
}